.main-header {
  height: 300px;
  position: fixed;
  top: 70px;
  background-color: rgba(140, 33, 0, 0.862);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

/* Avatar  */
header div img {
  display: inline-block;
  position: relative;
  margin-top: 2em;
  margin-left: 9em;
  height: 200px;
  width: 200px;
}

/* Name */
header div h2 {
  display: inline-block;
  position: relative;
  margin-left: 7.5em;
  color: azure;
} 

@media only screen and (min-width:1024px) {
  .main-header {
    margin-top: 5em;
    margin-left: 10em;
    width: 600px;
    position: fixed;
  }

  header div img {
    display: inline-block;
    position: fixed;
    margin-top: 2em;
    margin-left: 13em;
  }

  header div h2 {
    display: inline-block;
    position: flex;
    margin-top: 10em;
    margin-left: 10em;
  }
}
