.main-header {
  width: 100%;
  height: 295px;
  position: relative;
  top: 50px;
  background-color: rgba(140, 33, 0, 0.862);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

/* Avatar  */
header img {
  display: inline-block;
  position: relative;
  left: 42vw;
  top: 7.5px;
}

/* Name */
header h2 {
  display: inline-block;
  width: 256px;
  text-align: center;
  position: relative;
  left: 42vw;
  top: -35px;
  color: azure;
} 