nav {
  background-color: gray;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  position: fixed;
  top: 0;
  height: 25px;
  width: 100vw;
  padding: 1.5em;
  color: white;
}

/* Tweeter text */
nav h2 {
  position: fixed;
  font-family: Bungee, sans-serif;
  color: black;
  left: 1.5em;
  top: 0.5em;
}

nav h3 {
  position: fixed;
  color:  #02a8f5;
  top: 0em;
}

/* Write a new tweet text */
nav footer span {
  position: fixed;
  font-size: x-large;
  color: black;
  right: 1.5em;
  top: 0.75em;
}

/* Animation for the arrow */
@keyframes bouncing-arrow {
  0% { transform: translateY(0); }
  50% { transform: translateY(+5px); }
  100% { transform: translateY(0); }
}

/* Arrow icon */
nav a i {
  position: absolute;
  right: 115px;
  bottom: 0.5em;
  color: #af0785;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bouncing-arrow;
  animation-timing-function: ease;
}

nav a i:hover {
  color: #f5d907;
  transition: color 0.5s ease;
}


@media only screen and (min-width:1024px) {
  nav {
    background-color: #02a8f5;
    background-image: none;
    height: 25px;
    width: 100vw;
    color: white;
    position: flex;
    top: 0;
    display: flex;
    align-items: center;
  }

  nav h2 {
    position: fixed;
    color: #fdfafa;
  }

  nav h3 {
    position: fixed;
    color: #fdfafa;
  }

  nav footer span {
    background-color: #02a8f5;
    background-image: none;
    font-size: x-large;
    color: #fdfafa;
  }
}