nav {
  background-color: rgba(140, 33, 0, 0.862);
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  position: fixed;
  top: 0;
  height: 25px;
  width: 100vw;
  padding: 1.5em;
  color: white;
}

/* Tweeter text */
nav h2 {
  position: fixed;
  font-family: Bungee, sans-serif;
  color: #fdfafa;
  left: 1.5em;
  top: 0.75em;
}

/* Write a new tweet text */
nav footer span {
  position: fixed;
  font-size: x-large;
  right: 1.5em;
  top: 0.75em;
}

/* Arrow icon */
nav i {
  position: absolute;
  right: 115px;
  bottom: 0.5em;
  color: #e0f336;
}

nav i:hover {
  color: rgba(13, 224, 239, 0.568);
  transition: color 0.5s ease;
}

@media only screen and (min-width:1024px) {
  nav {
    background-color: #02a8f5;
    background-image: none;
    height: 25px;
    width: 100vw;
    color: white;
    position: flex;
    top: 0;
    display: flex;
    align-items: center;
  }

  nav h2 {
    position: fixed;
    font-family: Bungee, sans-serif;
    color: #fdfafa;
  }

  nav footer span {
    background-color: #02a8f5;
    background-image: none;
    font-size: x-large;
  }
}