/* New tweet */

.new-tweet {
  width: 60%;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}
/* Submit button */

button {
  border: none;
  font-size: medium;
  font-family: "Bungee";
  background-color:#4056A1;
  color: #ffffff;
}

/* Tweet button */
.tweet-submit {
  font-size: medium;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

/* Tweet box */

textarea {
  outline: none;
  overflow: hidden;
  display: block;
  resize: none;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  height: 30px;
  width: 100%;
} 

/* Character count */
.counter {
  font-family: Bungee, sans-serif;
  color: #545149;
  float: right;
  margin-top: 2px;
}

/* Character count negative, change color to red */
.negative-counter {
  color: red;
}


